input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.mood-radio input[type="radio"]:checked + div,
.weather-radio input[type="radio"]:checked + div {
    position: relative;
}
.mood-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #bbb;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 10px;
}
.weather-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #bbb;
    width: calc(100% + 40px);
    height: calc(100% + 30px);
    border-radius: 10px;
}
// 날짜선택
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #697077;
}
input#date::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0.75rem;
    background: url("/icons/calendar.svg");
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100%;
    background-repeat: no-repeat 0 0;
}
input[type="date"]::before {
    width: 100%;
    content: attr(placeholder);
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    color: #697077;
    pointer-events: none;
}
input[type="date"]:focus::before {
    content: ""; /* 포커스 시 플레이스홀더 숨기기 */
}
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    display: none;
}
.flex.flex-col.has-value input[type="date"]::before {
    color: #000;
}
// editor
.prose [data-placeholder]:before {
    content: attr(data-placeholder);
    color: #697077;
    font-style: normal;
}
.prose h1 {
    font-size: 2.25rem;
    font-weight: bold;
}
.prose h2 {
    font-size: 1.875rem;
    font-weight: bold;
}
.prose h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
