// 일기 쓰기
input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.mood-radio input[type="radio"]:checked + div,
.weather-radio input[type="radio"]:checked + div {
    position: relative;
}
.mood-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #111;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 10px;
}
.weather-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #111;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 10px;
}
// editor
.prose [data-placeholder]:before {
    content: attr(data-placeholder);
    color: #697077;
    font-style: normal;
}
.ProseMirror {
    padding-bottom: 150px;
}
.prose h1 {
    font-size: 2.25rem;
    font-weight: bold;
}
.prose h2 {
    font-size: 1.875rem;
    font-weight: bold;
}
.prose h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.prose ul {
    list-style: initial;
}
.prose ol {
    list-style: auto;
}
.prose ul,
.prose ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
}
.prose ul li p,
.prose ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
code {
    background-color: rgba(88, 5, 255, 0.05);
    border-radius: 0.4rem;
    color: #2e2b29;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
}
pre {
    background: #2e2b29;
    border-radius: 0.5rem;
    color: #fff;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}
code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}
blockquote {
    border-left: 3px solid rgba(61, 37, 20, 0.12);
    margin: 1.5rem 0;
    padding-left: 1rem;
}
[data-placeholder]:before {
    content: attr(data-placeholder);
    position: absolute;
    pointer-events: none;
    color: #697077;
    font-style: normal;
}
// 일기 상세조회
.diary-detail ol {
    list-style: auto;
}
.diary-detail ul,
.diary-detail ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: auto;
}
.diary-detail ul {
    list-style: disc;
}
.diary-detail ul li p,
.diary-detail ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.diary-detail h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

.diary-detail h2 {
    font-size: 1.875rem;
    font-weight: bold;
}
// 제목
.diary-detail .title {
    font-weight: 600 !important;
}
.diary-detail h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.truncate-content {
    display: -webkit-box; /* 플렉스 박스 설정 */
    -webkit-line-clamp: 1; /* 한 줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
// Day picker
.daypicker {
    position: relative;
    width: 300px;
}
.rdp-month {
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #d1d5db;
    padding: 15px 10px;
    border-radius: 1rem;
}
.rdp-month tbody tr td {
    text-align: center;
}
.rdp-month_caption {
    text-align: center;
    padding-bottom: 10px;
}
.rdp-nav {
    position: absolute;
    right: 20px;
    z-index: 10;
    top: 17px;
}
.rdp-nav button svg {
    width: 1.25rem;
    height: 1.25rem;
}
.rdp-month tbody tr td button[aria-label*="Sunday"] {
    color: #e63946;
}
.rdp-month tbody tr td button[aria-label*="Saturday"] {
    color: #60a5fa;
}
