@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fdfbf8;
    --foreground: #000000;
}

html,
body {
    height: 100%;
    min-height: 100%;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}
@layer base {
    html {
        font-size: 12px; /* 0~359px */
    }
    @media (min-width: 360px) and (max-width: 539px) {
        html {
            font-size: 14px;
        }
    }
    @media (min-width: 540px) {
        html {
            font-size: 16px;
        }
    }
}

/* 숨김 처리 */
input[type="radio"] {
    position: absolute;
    opacity: 0;
}
/* 일기 쓰기 */
.mood-radio input[type="radio"]:checked + div,
.weather-radio input[type="radio"]:checked + div {
    position: relative;
}
.mood-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #bbb;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 10px;
}
.weather-radio input[type="radio"]:checked + div::after {
    position: absolute;
    content: "";
    border: solid 1px #bbb;
    width: calc(100% + 40px);
    height: calc(100% + 30px);
    border-radius: 10px;
}
