@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #fdfbf8;
    --foreground: #000000;
}

html,
body {
    height: 100vh;
    min-height: 100%;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
@layer base {
    html {
        font-size: 12px; /* 0~359px */
    }
    @media (min-width: 360px) and (max-width: 539px) {
        html {
            font-size: 14px;
        }
    }
    @media (min-width: 540px) {
        html {
            font-size: 16px;
        }
    }
}
